<!--
---
---

 {% for f in site.static_files %}
    {% if f.path contains 'toys/' %}
        {{ f.path }}
        <br/>
    {% endif %}
{% endfor %} -->


<html>
    <head>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <main>
            <h1>toys</h1>
            <div class="grid">

                <div class="item">
                    <h1>animation</h1>
                    <p>A silly collection of CSS animations.</p>
                    <a href="animation/"><button>learn more</button></a>
                </div>

                <div class="item">
                    <h1>gradients</h1>
                    <p>A nice gradient w/ hipster background.</p>
                    <a href="gradients/"><button>learn more</button></a>
                </div>

                <div class="item">
                    <h1>grids</h1>
                    <p>Experiments with CSS Grid layouts.</p>
                    <a href="grids/"><button>learn more</button></a>
                </div>

                <div class="item">
                    <h1>iQuiz</h1>
                    <p>A simple demo for an interactive quiz.</p>
                    <a href="interactive-quiz/"><button>learn more</button></a>
                </div>

                <div class="item">
                    <h1>Maps</h1>
                    <p>A simple demo with LeafletJS mapping.</p>
                    <a href="maps/"><button>learn more</button></a>
                </div>

                <div class="item">
                    <h1>node-webserver</h1>
                    <p>A simple NodeJS webserver.</p>
                    <a href="node-simple-webserver/views/hello.html"><button>learn more</button></a>
                </div>

                <div class="item">
                    <h1>portfolio-grid</h1>
                    <p>A template for this page!</p>
                    <a href="portfolio-grid/"><button>learn more</button></a>
                </div>

                <div class="item">
                    <h1>todo-app</h1>
                    <p>The Practical-JS Todo App.</p>
                    <a href="practicaljs-todo-app/"><button>learn more</button></a>
                </div>

                <div class="item">
                    <h1>tribute</h1>
                    <p>A tribute page for the greats!</p>
                    <a href="tribute/"><button>learn more</button></a>
                </div>

                <div class="item">
                    <h1>webpacktest</h1>
                    <p>A simple webpack.js experiment.</p>
                    <a href="webpacktest/"><button>learn more</button></a>
                </div>

                <div class="item">
                    <h1>keylogger</h1>
                    <p>A simple Javascript-based keylogger PoC.</p>
                    <a href="webpage-keylogger/"><button>learn more</button></a>
                </div>

                <div class="item">
                    <h1>fourier</h1>
                    <p>Interactive fourier transforms.</p>
                    <a href="fourier.html"><button>learn more</button></a>
                </div>

            </div>
        </main>
    </body>
</html>
