.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px;
}

div {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 1.5em;
    color: white;
}
