<div class="about">

<p>
Hi! I'm <strong>{{ site.data.settings.author }}</strong>, an n^th year PhD student at Dartmouth.
I am advised by <a href="http://www.cs.dartmouth.edu/~dfk/">Dr. David Kotz</a>.
</p>

<p>
I work with others on researching security and privacy issues in computer systems and wireless communications.
I'm currently a member of the <a href="https://thaw.org/">Trustworthy Health &amp; Wellness</a> project where I'm exploring research problems in physical computing, secure I/O, and IoT security and privacy.
I'm also a former member of the <a href="https://amulet-project.org/">Amulet</a> project where I worked on the design of a low-power and secure wearable device,
as well as a software framework that enables developers to create safe, secure, and efficient mobile health applications.
</p>

</div>
