I am **{{ site.data.settings.author }}**, a Principal Security Consultant at [Trail of Bits](https://www.trailofbits.com/) specializing in software security, system hardening, and wireless protocol security.

My work focuses on:
- Vulnerability assessment in critical software
- Developing secure system architectures 
- Creating tools for vulnerability detection and mitigation
- Researching security of wireless protocols (Wi-Fi, Bluetooth)

Prior to Trail of Bits, I served as a Security Assessment & Research Consultant at [Include Security](https://includesecurity.com/), as an Assistant Professor of Computer Science in the [Gianforte School of Computing](https://www.cs.montana.edu) at [Montana State University](https://www.montana.edu), and as a researcher at [Intel Labs](https://www.intel.com/content/www/us/en/research/overview.html), where I contributed to the Security and Privacy Research Lab's initiatives on trusted computing platforms (SGX and Trusted I/O) and IoT.

I earned my Ph.D. in Computer Science from [Dartmouth College](https://dartmouth.edu) (2019) under the advisement of [Dr. David Kotz](http://www.cs.dartmouth.edu/~dfk/), where my dissertation research advanced the security architecture of Wireless Personal Area Networks. I hold a B.S. in [Computer Science](https://cse.wwu.edu/computer-science) and [Mathematics](https://cse.wwu.edu/mathematics) from [Western Washington University](https://www.wwu.edu) (2012).