
<!-- ## Selected Activities -->

<!-- ## Selected Engagement, Outreach, and Service -->

## Activities

**Special Events**
- 2020, Invited to attend the [2020 CRA Career Mentoring Workshop](https://cra.org/events/2020-career-mentoring-workshop/)

**Professional Activities**
- 2020, Technical Program Committee Member for the International Conference on Wireless and Mobile Communications (ICWMC)
- 2020, Technical Program Committee Member for the Workshop on Sensing Systems and Applications Using Wrist Worn Smart Devices (WristSense), co-located with IEEE PerCom
- 2020, Reviewer for the National Conference on Undergraduate Research (2020)
