
<!-- ## Selected Activities -->

<!-- ## Selected Engagement, Outreach, and Service -->

## Activities

**Professional Activities**
- 2020, Volunteer instructor during the [Security Education (SEED) Instructor Workshop'20](https://seedsecuritylabs.org/workshops/) (June-August)
- 2020, Hackathon project mentor to student teams during the *\#StudentsBuild4COVID19* hackathon
- 2020, REU project mentor for [MSU's REU: Research Experiences in Cybersecurity Algorithms](https://www.nsf.gov/awardsearch/showAward?AWD_ID=1947750)
- 2020, Invited attendee at the [2020 CRA Career Mentoring Workshop](https://cra.org/events/2020-career-mentoring-workshop/)

**Reviewing for Journals & Conferences**
- 2020, Reviewer for Transactions on Mobile Computing
- 2020, Technical Program Committee Member for the International Conference on Emerging Security Information, Systems and Technologies (SECURWARE)
- 2020, Reviewer for IEEE Communications Letters
- 2020, Technical Program Committee Member for the International Conference on Wireless and Mobile Communications (ICWMC)
- 2020, Technical Program Committee Member for the Workshop on Sensing Systems and Applications Using Wrist Worn Smart Devices (WristSense), co-located with IEEE PerCom
- 2020, Reviewer for the National Conference on Undergraduate Research (2020)

**University, College, and Department Committees**
- 2019-present, CS Graduate Recruiting Committee, Member
