## Select Projects

{% for project in site.data.projects %}
{% if project.show %}

**{{project.title}}**
<!-- url -->{% if project.url %}[[website]]({{project.url}}){% endif %}
<!-- pdf -->{% if project.pdf %}[[pdf]]({{project.pdf}}){% endif %}
<!-- doc -->{% if project.doc %}[[doc]]({{project.doc}}){% endif %}
<!-- code -->{% if project.code %}[[code]]({{project.code}}){% endif %}
<!-- documentation -->{% if project.documentation %}[[docs]]({{project.documentation}}){% endif %}
<!-- blog -->{% if project.blog %}[[blog]]({{project.blog}}){% endif %}
<br/>
<!-- desc -->{% if project.desc %}{{project.desc}}{% endif %}

{% endif %}
{% endfor %}
