
## Publications

{% for pub in site.data.papers %}
**{{pub.title}}**
<!-- status (e.g., accepted) -->{% if pub.status -%}<font color="red">({{pub.status}})</font>{% endif %}
<!-- award -->{% if pub.award -%}<font color="red">({{pub.award}})</font>{% endif %}
<br/>
{%- if pub.type == 'conference' or pub.type == 'workshop' or pub.type == 'poster' or pub.type == 'demo' -%}In {% endif -%}
<!-- publisher -->{% if pub.publisher -%}*{{pub.publisher}}*, {{pub.date}}.{% endif %}
<br/>
<!-- authors -->{% if pub.authors -%}{{pub.authors}}{% endif %}
<!-- note -->{% if pub.note -%} *({{pub.note}})*{% endif %}
<br/>
<!-- pdf -->{% if pub.pdf -%}[pdf]({{pub.pdf}}){:.pdf}{% endif %}
<!-- slides -->{% if pub.slides -%}[slides]({{pub.slides}}){:.slides}{% endif %}
<!-- code -->{% if pub.code -%}[code]({{pub.code}}){:.code}{% endif %}
<!-- blog -->{% if pub.blog -%}[blog]({{pub.blog}}){:.blog}{% endif %}
{% endfor %}
