<section id="projects">
<div class="container">

  <h3>Papers</h3>
  <div class="panel panel-default">
    <div class="panel-body">

    <!-- TODO: break out paper date/year into separate field -->
	{% for paper in site.data.papers %}
		<h6>
			<strong><a href="{{ paper.url }}">{{ paper.title }}</a></strong><br/>
			{{ paper.authors }}. {{ paper.publisher }}.
            {% if paper.note %}
            <br/>
            <i>{{ paper.note }}</i>
            {% endif %}
		</h6>
	{% endfor %}

    </div>
  </div>

  <h3>Select Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">

	{% for project in site.data.projects %}
        {% if project.show %}

		<h6>
            {% if project.url %}
            <!-- <center><strong><a href="{{ project.url }}" target="_blank">{{ project.title }}</a></strong></center><br/> -->
            <strong><a href="{{ project.url }}" target="_blank">{{ project.title }}</a></strong><br/>
            {% else %}
            <!-- <center><strong>{{ project.title }}</strong></center> -->
            <strong>{{ project.title }}</strong>
            {% endif %}
        <!-- </h6>

        <h6> -->
			{{ project.desc }}

            {% if project.pdf %}
            <a href="{{ project.pdf }}" target="_blank">[pdf]</a>
            {% endif %}

            {% if project.doc %}
            <a href="{{ project.doc }}" target="_blank">[docx]</a>
            {% endif %}

            {% if project.documentation %}
            <a href="{{ project.documentation }}" target="_blank">[documentation]</a>
            {% endif %}
		</h6>

        {% endif %}
	{% endfor %}

    </div>
  </div>

</div>
</section>
