
## Teaching
{:.mb-3}

{%comment%}
##### Montana State University
- Computer Security (CSCI 476) / Advanced Security (CSCI 594) [[Spring 2021]](https://traviswpeters.github.io/cs476/)
- Operating Systems (CSCI 460) [[Fall 2020]](https://www.traviswpeters.com/cs460-2020-fall/)
- Computer Security (CSCI 476) [[Spring 2020]](https://traviswpeters.github.io/cs476-2020-spring/)
- Operating Systems (CSCI 460) [[Fall 2019]](https://www.traviswpeters.com/cs460-2019-fall/)

##### Dartmouth College
- [[Winter 2015]](https://traviswpeters.github.io/cs10/) Problem Solving via Object-Oriented Programming (COSC 10)
{%endcomment%}


<b class="anchorItem" id="cs476">Computer Security (CSCI 476) / Advanced Security (CSCI 594)</b><br/>
*@ Montana State University*<br/>
[Spring 2021](https://www.traviswpeters.com/cs476-2021-spring/),
<!-- [Spring 2021](https://traviswpeters.github.io/cs476/), -->
[Spring 2020](https://www.traviswpeters.com/cs476-2020-spring/)

<!-- <b class="anchorItem" id="cs476">Computer Security (CSCI 476)</b><br/> -->
<!-- *@ Montana State University*<br/> -->

<b class="anchorItem" id="cs460">Operating Systems (CSCI 460)</b><br/>
*@ Montana State University*<br/>
[Fall 2020](https://www.traviswpeters.com/cs460-2020-fall/),
[Fall 2019](https://www.traviswpeters.com/cs460-2019-fall/)

<b class="anchorItem" id="cs10">Problem Solving via Object-Oriented Programming (COSC 10)</b><br/>
*@ Dartmouth College*<br/>
[Winter 2015](https://traviswpeters.github.io/cs10/)
