
## Teaching

**Computer Security (CSCI 476)**{:.font-weight-bold}<br/>
*@ Montana State University*<br/>
[Spring 2020](https://traviswpeters.github.io/cs476/)
{:.font-weight-light}

**Operating Systems (CSCI 460)**{:.font-weight-bold}<br/>
*@ Montana State University*<br/>
[Fall 2020](https://www.traviswpeters.com/cs460-2020-fall/),
[Fall 2019](https://www.traviswpeters.com/cs460-2019-fall/)
{:.font-weight-light}

**Problem Solving via Object-Oriented Programming (COSC 10)**{:.font-weight-bold}<br/>
*@ Dartmouth College*<br/>
[Winter 2015](https://traviswpeters.github.io/cs10/)
{:.font-weight-light}
