/*
 * Grid-ify (sketch of main layout)
                +------------------------------------------+
                |                 HEADER                   |
                +------------------------------------------+
                |    PHOTO     |            BIO            |
                +------------------------------------------+
                |                 CONTENT                  |
                |                  .....                   |
                |                   ...                    |
                |                    .                     |
                +------------------------------------------+
 */

.grid-item-header { grid-area: header; }
.grid-item-about { grid-area: about; }
.grid-item-news { grid-area: news }
.grid-item-research { grid-area: research }
.grid-item-publications { grid-area: publications }
.grid-item-presentations { grid-area: presentations }
.grid-item-teaching { grid-area: teaching }
.grid-item-footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  /* grid-gap: 10px; */

  grid-template-areas:
    'header header header'
    'about about about'
    'news news news'
    'research research research'
    'publications publications publications'
    'presentations presentations presentations'
    'teaching teaching teaching'
    'footer footer footer';
}

.grid-container > * {
    grid-column: 2 / 3;
}

@media all and (max-width: 1000px) and (min-width: 800px) {
    .grid-container {
        grid-template-columns: 1fr 10fr 1fr;
    }
}

@media all and (max-width: 799px) and (min-width: 500px) {
    .grid-container {
        grid-template-columns: 10px auto 10px;
    }
}

@media only screen and (max-width: 499px) {
    .grid-container {
        grid-template-columns: 10px 1fr 10px;
    }
    .masthead, h1, h2, h3, h4, h5, h6 { /* center all headers */
        text-align: center;
    }
    .masthead-subtitle {
        display: none;
    }
    .menu {
        width: 300px;
        margin: auto;
    }
    .menu-content {
        width: 300px;
        margin: auto;
    }
    .menu-item:nth-of-type(1) { /* a little space between menu items and the main site title */
        margin-top: 10px;
    }
    .social-icons { /* don't show icons at the top of the page when showing on smaller screen */
        display: none;
    }
}

/* ************************************************************************** */

body {
  font-family: "Quattrocento Sans", "Georgia", "Times New Roman", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size: 14px;
  color: #515151;
  line-height: 1.75rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quattrocento Sans", sans-serif;
  color: #333;
}

h1{
  font-size: 2rem;
}

h2 {
  /* Add horizontal line under each h2 with padding above and below */
  padding-top: 20px;
  border-bottom: 0.75px dashed #999;
  padding-bottom:5px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: green;
}

a:hover {
  color: black;
  border-bottom: none;
}

.captioned-img {
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;

  float: left;
  clear: left;
  margin: 0  0.9em 0 0;
}

/* MASTHEAD */

.masthead {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 4rem;
  font-family: "Quattrocento Sans", sans-serif;
}

.masthead a:hover {
  color:black;
}

.masthead-title a {
  font-size: 2rem;
  text-decoration: none;
  color: #505050;
}

.masthead-subtitle {
  color: #999;
}

/* POSTS */

.posts {
  margin-bottom: 5rem;
  padding: 0px;
  list-style: none;
}

.post-date {
  display: block;
  margin-top:3px;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size:0.8rem;
}

.related {
  padding-bottom: 2rem;
}

.related-posts {
  padding-left: 0px;
  list-style: none;
}

.related-posts a {
  text-decoration: none;
}

/* MENU (HEADER) */

.menu {
  padding-top: 0.5rem;
  display: block;
}

.menu-content {
  float: left;
}
.menu-content a {
  color: #999;
  font-size: 1rem;
  padding-right: 10px;
}

.social-icons {
  float: right;
}
.social-icons a {
  color: #999;
  font-size: 1rem;
}

/* FOOTER */

footer {
    clear: both;
}

footer * {
    display: inline;
}

.footer {
  color: #999;
  text-align: center;
  margin: 2rem;
}

.footer a {
  color: #999;
  padding: 10px;
  text-decoration: none;
}

.footer a:hover {
  color: #333;
}

/* Code */

pre,
code {
    font-size: 0.8rem;
    border-radius: 3px;
    background-color: #f5f5f5;
    font-family: "Andale Mono", "Source Code Pro", sans-serif;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.highlight .lineno {
  color: #aaa;
  display:inline-block;
  padding: 0 5px;
  border-right:1px solid #ccc;
}

.highlight pre code {
  display: block;
  white-space: pre;
  overflow-x: auto;
  word-wrap: normal;
}

/* Pagination */

.pagination {
  overflow: hidden;
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
}

.pagination a {
  text-decoration: none;
}

.pagination-button {
  color: #999;
  border: 1px solid #e0e0e0;
  padding: 15px 45px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.pagination-active {
  color: black;
}

.pagination-active:hover {
  background-color: #e0e0e0;
}

/* Social media icons */

.sharing-icons a {
  padding-right: 10px;
}

.fa-envelope {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-envelope:hover {
	color: #f39c12;
}

.fa-twitter {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-twitter:hover {
	color: #00aced;
}

.fa-instagram {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-instagram:hover {
	color: #375989;
}

.fa-github {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-github:hover {
	color: #343434;
}

.fa-linkedin {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-linkedin:hover {
	color: #0073a4;
}

.fa-facebook {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-facebook:hover {
	color: #3d5b99;
}

.fa-medium {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-medium:hover {
	color: #00AB6C;
}

.fa-codepen {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-codepen:hover {
	color: black;
}

.fa-rss-square {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-rss-square:hover {
	color: #ff6600;
}
