* {
   /* debug */
   /* outline: 1px solid red; */

   /* margin: 0px;
   padding: 0px;
   border: 0px;
   margin-right: auto;
   margin-left: auto;
   width: auto; */
}

body {
  /* font-family: 'Assistant', sans-serif; */
  font-family: 'Quattrocento Sans', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
  background-color: #F2F2F2;
  /* padding-top: 70px;  */
  /* font-size: 0.8rem; */
}

.container, .container-xl {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: #333;
  padding: 0px;
  margin: 0px;
}

h1 {
  /* font-size: 2.5rem; */
  /* padding-bottom: 20px; */
  /* margin-top: 0px; */
  /* margin-bottom: 15px; */
}

h2 {
  /* Add horizontal line under each h2 with padding above and below */
  font-size: 1.75rem;
  border-bottom: 1.0px solid #CCC;
  margin-top: 30px;
  margin-bottom: 10px;

  /* fix weird issues where top of in-page anchor target gets cut off. */
  /* padding-top: 60px; */
  /* margin-top: -60px; */
}

p {
    padding: 0px;
    margin: 0px;
    margin-bottom: 15px;
    line-height: 1.25rem;
}

/* ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
} */

a {
  text-decoration: none;
  /* font-size: 1.01rem; */
  /* font-weight: bold; */
  /* color: rgb(24, 107, 188); /* MSU Blue */ */
}

a:hover {
  color: #515151;
  border-bottom: none;
}

img {
  /* max-width: 100%; */
  /* min-width: 100%; */
  /* height: auto; */
  /* border-radius: 200px; */
}

.card {
  /* border-radius: 200px; */
}

.navbar-brand {
  font-size: 1.75rem;
}

.copyright {
    display: block;
    /* margin: 20px 0px; */
    font-size: 0.75rem;
    /* color: rgb(24, 107, 188); /* MSU Blue */ */
}

blockquote {
  border-left: 0.2rem solid #ccc;
  font-style: italic;
  color: #999;
  margin: 10px 0px;
  padding: 5px 10px;
  /* margin-left: 1.5em; */
  /* margin: 1.5em 10px; */
  /* padding: 5px 20px; */
}
blockquote strong {
    color: #777;
    /* font-size: 1.05rem; */
}
blockquote p {
  display: inline;
}

/* MASTHEAD */

.masthead {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 4rem;
  /* font-family: "Quattrocento Sans", sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

.masthead a:hover {
  color:black;
}

.masthead-title a {
  font-size: 3rem;
  text-decoration: none;
  color: #505050;
}

.masthead-subtitle {
  color: #999;
}

/* MENU (HEADER) */

.menu {
  padding-top: 0.5rem;
  display: block;
}

.menu-content {
  float: left;
}
.menu-content a {
  color: #999;
  font-size: 1rem;
  padding-right: 10px;
}

.social-icons {
  /* float: right; */
}
.social-icons a {
  /* color: #999; */
  /* font-size: 1rem; */
}

/* FOOTER */

footer {
    clear: both;
    text-align: center;
    font-size: 0.75rem;
    color: #999;
}
footer * {
    display: inline;
}

.footer {
    margin: 2rem;
    text-align: center;
    font-style: italic;
}
.footer a {
  color: #333;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}
.footer a:hover {
  color: #999;
}

/* POSTS */

.posts {
  margin-bottom: 3rem;
  padding: 0px;
  list-style: none;
  width: 100%;
}
.posts p.posts-teaser-text {
    font-style: italic;
    margin-bottom: 5px;
}

.post-date {
  display: block;
  margin-top:0px;
  margin-bottom: 1rem;
  color: #9a9a9a;
  /* font-family: 'Quattrocento Sans', sans-serif; */
  font-size:0.8rem;
}

/* Code */

pre,
code {
    font-size: 0.8rem;
    border-radius: 3px;
    background-color: #eee;
    padding: 1px 10px;
    font-family: "Andale Mono", "Source Code Pro", sans-serif;
}

.highlight .lineno {
    color: #aaa;
    display:inline-block;
    padding: 0 0px;
    border-right:0.5px solid #ccc;
}

.highlight pre code {
    display: block;
    white-space: pre;
    overflow-x: auto;
    word-wrap: normal;
}

.rouge-table {
    table-layout: fixed;
    width: 100%;
}

.rouge-gutter {
    width: 0px;
    padding-right: 20px;
}

.rouge-code {
    padding-left: 10px;
}

/* Tables
 - TRY ME (RESPONSIVE TABLE): http://lea.verou.me/2018/05/responsive-tables-revisited/
 */

.travis-table table {
    margin: 0px auto;
 	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
.travis-table table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
.travis-table table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

/* Social media icons */

.fab {color: #444;}
.fas {color: #444;}

.fa-envelope {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-envelope:hover {
	color: #f39c12;
}

.fa-twitter {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-twitter:hover {
	color: #00aced;
}

.fa-instagram {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-instagram:hover {
	color: #375989;
}

.fa-github {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-github:hover {
	color: #343434;
}

.fa-linkedin {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-linkedin:hover {
	color: #0073a4;
}

.fa-facebook {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-facebook:hover {
	color: #3d5b99;
}

.fa-medium {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-medium:hover {
	color: #00AB6C;
}

.fa-codepen {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-codepen:hover {
	color: black;
}

.fa-rss-square {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-rss-square:hover {
	color: #ff6600;
}
