<!doctype html>
<html>
{% include head.html %}
<body>
<div class="grid-container">

    {% comment %}
    <!-- <div class="container"> -->
    {% endcomment %}

{% include header.html %}

    {% comment %}
    <!-- <div class="grid-container"> -->
    <!-- <div class="post-container"> -->
    {% endcomment %}

{{ content }}

    {% comment %}
    <!-- </div> -->
    <!-- </div> -->
    {% endcomment %}

{% include footer.html %}

    {% comment %}
    <!-- </div> -->
    {% endcomment %}

</div>
</body>
</html>
