<!doctype html>
<html lang="en">
{% include head.html %}
<body>

<div class="container-xl rounded shadow-lg p-3 mb-5 bg-white">

{% include header.html %}

{{ content }}

{% include footer.html %}

<!-- Calendly badge widget begin -->
<!-- <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet"> -->
<!-- <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script> -->
<!-- <script type="text/javascript">Calendly.initBadgeWidget({ url: 'https://calendly.com/travis-peters', text: 'Schedule time with me', color: '#00a2ff', textColor: '#ffffff', branding: true });</script> -->
<!-- Calendly badge widget end -->

</div>

<!-- Optional JavaScript for Bootstrap - jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script>
$(document).ready(function() {
    /*
     * class hacking: add bootstrap/bootswatch class labels to my custom classes (notes, slides, etc.)
     */

    // site asset stles
    $('.pdf').addClass('badge badge-pill badge-primary');
    $('.slides').addClass('badge badge-pill badge-primary');
    $('.code').addClass('badge badge-pill badge-primary');
    $('.blog').addClass('badge badge-pill badge-primary');

    // admin styles
    $('.new').addClass('badge badge-pill badge-primary');
    $('.announcement').addClass('alert alert-primary').prepend('<h4 class="alert-heading">Class Announcement!</h4>');
    $('.timestamp').prepend('&mdash;Posted ');

    // $("#mypic").hover(
        // function() {$(this).attr("src","assets/peters2.jpg");}, // on hover
        // function() {$(this).attr("src","assets/peters1.jpg");   // off hover (default)
    // });

    // add links to all section headers...
    $( ".anchorItem" ).each(function(index) {
      var attr = $(this).attr('id');
      if (typeof attr !== typeof undefined && attr !== false) {
        $(this).html( '<a href="#' + attr + '">' +$(this).html()+ ' </a>' );
      }
    });

});
</script>

{% include mathjax.html %}
</body>

</html>
