---
layout: default
---

<div class="post-wrapper grid-item-post-wrapper" markdown="1">
{{ content }}
</div>


{% comment %}
<h1>{{ page.title }}</h1>

{% include read-time-date-author.html %}

{% if page.image.feature %}
<img src="{{ site.github.url }}/assets/img/{{ page.image.feature }}">
{% endif %}

{{ content }}

{% include read-time-date-author.html %}

{% include social-sharing.html %}

{% include related-posts.html %}

{% if site.data.settings.disqus.comments %}
  {% include disqus.html %}
{% endif %}
{% endcomment %}
